.card {
  position: relative;
  width: 85rem;
  left: 34rem;
}

@media screen and (max-width: 768px) {
  .card {
    width: 20rem;
    height: 40rem;
    left: 0;
  }
  #search-bar {
    width: 20rem;
  }
  #list {
    width: 20rem;
  }
}

@media screen and (max-width: 1060px) {
  .card {
    width: 20rem;
    height: 40rem;
    left: 0;
  }
  #search-bar {
    width: 20rem;
  }
  #list {
    width: 20rem;
  }
}

@media screen and (max-width: 1366px) {
  .card {
    position: relative;
    top: 1rem;
    width: 60rem;
    margin-left: 23rem;
    height: 39rem;
  }
  #search-bar {
    width: 20rem;
  }
  #list {
    width: 20rem;
  }

  #textspace {
    width: 53rem;
    height: 3rem;
  }
}
